@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-color: white;
    --bg-url: url("./assets/background/bg-mobile.jpg");
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url("../../public/assets/background/moon-stars.svg");
}